<!DOCTYPE html>
<html>
<head>
    <title>Pagina Index Handlebars</title>
</head>
<body>
    <h2> Pagina main Handlebars </h2>
    
    {{{body}}}
      
      <h3> parte de baixo </h3>
</body>
</html>



{{!-- COMENTÁRIO -->  <!DOCTYPE html>: Define o tipo de documento HTML. --}}



{{!-- COMENTÁRIO --> <html>, <head>, <title>, <body>: Elementos HTML padrão para criar a estrutura da página. --}}



{{!-- COMENTÁRIO --> <title>Pagina Index Handlebars</title>: Define o título da página. --}}



{{!-- COMENTÁRIO --> <h2> Pagina main Handlebars </h2>: Exibe o título principal da página. Este texto não será dinâmico e permanecerá o mesmo em todas as renderizações. --}}



{{!-- COMENTÁRIO --> {{{body}}}: Esta é a parte importante do modelo. É onde o conteúdo dinâmico será inserido. As chaves triplas {{{ }}} indicam que o conteúdo será renderizado como HTML bruto, permitindo que o conteúdo seja interpretado corretamente pelo navegador. 
Essa é a área onde você irá incluir o conteúdo gerado pelo servidor usando o mecanismo de visualização. --}}



{{!-- COMENTÁRIO --> <h3> parte de baixo </h3>: Este é outro elemento HTML fixo que aparecerá em todas as renderizações, após o conteúdo dinâmico." --}}